human_review/results/
data/discarded_threads/
data/email_messages/
data/finetune/
data/knowledge_base/
data/split_datasets/
data/threads/
eval/results/
eval/cache/
finetune/m3_score_comparisons
finetune/m3_score_results
finetune/oracle_score_results
finetune/training_logs
finetune/*.json
finetune/*.jsonl
finetune/*.npy
models/
Plantilla_TFM_ETSIINF/
.DS_Store
__pycache__/
.env
